.main-menu {
	list-style: none;
	margin: 10px 0 5px;
	padding: 5px 0 5px;
	text-align: center;
	background: white;
  }

  .main-menu li {display: inline-block;}
.main-menu li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}

  .main-menu li:last-child:after {content: none;}
.main-menu a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s ;
}

.main-menu a , .main-menu a:visited {color: #9d999d;}
.main-menu a.current, .main-menu a:hover{color: #feb386;}
.main-menu a:before,
.main-menu a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #feb386;
    transition: width .3s ease-in-out;
}

.main-menu a:hover:after,
.main-menu a:focus:after {
    width: 100%;
}



body, p{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.img{
    width: 100%;
    margin: 0 auto 20px;
}
img{
    width: 100%;
}
.wrapper{
    width: 100%;
    max-width: 768px;
    margin: 50px auto 0;
    border: 1px solid #eee;
    padding: 40px;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.main{
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.el{
    width: 50px;
    position: relative;
}
.el:first-child{
    height: 70px;
    background: #DE9797;
}
.el:nth-child(2){
    height: 50px;
    background: #979ADE;
}
.el:nth-child(3){
    height: 30px;
    background: #97DE99;
}
.el:nth-child(4){
    height: 100px;
    background: #DDDE97;
}
.el:nth-child(5){
    height: 90px;
    background: #DEC997;
}
.el:nth-child(6){
    height: 60px;
    background: #97DEDA;
}
.el:nth-child(7){
    height: 10px;
    background: #DEC997;
}
.el:last-child{
    height: 35px;
    background: #B097DE;
}
.el>span{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}