.main-menu {
	list-style: none;
	margin: 10px 0 5px;
	padding: 5px 0 5px;
	text-align: center;
	background: white;
  }

  .main-menu li {display: inline-block;}
.main-menu li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}

  .main-menu li:last-child:after {content: none;}
.main-menu a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s ;
}

.main-menu a , .main-menu a:visited {color: #9d999d;}
.main-menu a.current, .main-menu a:hover{color: #feb386;}
.main-menu a:before,
.main-menu a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #feb386;
    transition: width .3s ease-in-out;
}

.main-menu a:hover:after,
.main-menu a:focus:after {
    width: 100%;
}


body, p{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
img{
    width: 100%;
}
.img{
    width: 100%;
    margin: 0 auto 20px;
}
.wrapper{
    width: 100%;
    max-width: 768px;
    margin: 50px auto 0;
    border: 1px solid #eee;
    padding: 15px;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.main{
    margin: 15px 0px;
}

.left_column{
    float:left;
    width: 20%;
    box-sizing: border-box;
}
.right_column{
    float: right;
    width: 80%;
    padding: 0 20px;
    box-sizing: border-box;
    /*border:1px solid red;*/
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.item_box{
    margin: 25px 0 ;
}
.item{
    width: 32%;
    float:left;
    margin: 5px;
}

.item:nth-child(1){
    margin-left: 0;
}
.item:nth-child(2){
    
}
.item:nth-child(3){
    margin-right: 0;
}

@media all and (max-width: 768px){
    .item{
        width: 31%;
        float:left;
        margin: 5px;
    }
}

@media all and (max-width: 568px){
    
    .left_column{
        float:none;
        width: 100%;
    }
    .right_column{
        float: none;
        width: 100%;
        padding: 0;
        margin-top: 15px;
        /*border:1px solid red;*/
    }
    .item{
        width: 100%;
        float:none;
        margin: 5px;
    }

    
}